* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    box-shadow: none;
    background-color: transparent;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-animation: AnimationName 19s ease infinite;
    -moz-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0);
}

.hidden {
    display: none;
}

#home, #promo, #day, #cart, #contact {
    height: 100vh;
}

#logo {
    top: 3px;
    left: 50%;
    display: none !important;
}

#menu-options {
    height: 100vh;
    width: 0px;
    position: fixed;
    background: #0c0c0c;
    z-index: 1;
}

#menu-options-list {
    position: fixed;
    top: 50px;
    left: -100px;
}

#menu-options-list > * {
    margin-top: 1rem;
}

#menu-social-list {
    top: 3px;
    right: 3%;
}

#menu, #logo, #menu-social-list {
    display: flex;
    position: fixed;
    color: #fff;
}

#menu {
    z-index: 1;
}

#slider {
    height: 100%;
    width: 100%;
}

nav .brand-logo {
    font-size: 1.8rem;
}

#overlay {
    position: absolute;
    display: block;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
}

.move-slider {
    animation: jump-arrow 2.5s infinite;
    bottom: 2.5%;
    color: rgba(255, 255, 255, 0.9);
    font-size: 22px;
    left: 0;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 4
}

@keyframes jump-arrow {
	0%,
	20%,
	55%,
	80%,
	100% {
	    transform: translate3d(0, 0, 0);
	}

	40% {
	    transform: translate3d(0, -15px, 0);
	}

	70% {
    transform: translate3d(0, -10px, 0);
	}

	90% {
		transform: translate3d(0, -5px, 0);
	}
}

.move-slider .arrow-down-slider {
    cursor: pointer;
}

.promo-img {
    background: url("../img/section/promo1.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.day-img {
    background: url("../img/section/day4.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;    
}

/****      Menu hamburguesa      ****/

#hamburger-container {
    position: fixed;
    top: 20px;
    left: 3%;
}

#hamburger {
    display: block;
    position: absolute;
    width: 30px;
    height: 40px;
    z-index: 2;
}

.burger {
    display: block;
    width: 25px;
    height: 3px;
    margin-top: 8px;
    background: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.burger::before, .burger::after {
    display: block;
    position: absolute;
    content: "";
    z-index: -1;
    width: 25px;
    height: 3px;
    background: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.burger::before {
    top: 0;
}

.burger::after {
    top: 16px;
}

.hamburger-open .burger {
    background: none !important;
}

.hamburger-open .burger::before, .hamburger-open .burger::after {
    top: 10px;
}

.hamburger-open .burger::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamburger-open .burger::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/****   Fin de Menú Hamburguesa     ****/

#slider-text {
    position: relative;
    text-align: center;
    color: white;
    top: 50vh;
}

.slider-title {
    font-size: 2.5rem;
}

.slider-subtitle {
    font-size: 1.5rem;
}

/**/

.h1 {
    font-size: 1.8rem;
    text-align: center;
    margin: 4em 0 2.8em 0;
    font-weight: bolder;
}

.title {
    font-weight: bolder;
}


@-webkit-keyframes AnimationName {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes AnimationName { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}